.home-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 160px;

    @media only screen and (max-width: 966px) {
        gap: 96px;



    }


}

.hero-section {
    width: 100%;
    position: relative;



    .bg-shape {
        width: 1006px;
        height: 594px;
        flex-shrink: 0;
        border-radius: 297px 297px 297px 0px;
        opacity: 0.5023;
        background: #F1F3F5;


        position: absolute;
        top: 320px;
        left: 0;
    }

    &__content-wrapper {
        padding: 145px 95px 0 95px;

        border-radius: 15px;
        background: #E7816B;

        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        overflow: hidden;

        position: relative;

        .bg-circle {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;

            width: 640px;
            height: 640px;
            flex-shrink: 0;

            border-radius: 640px;
            opacity: 0.3089;
            background: linear-gradient(90deg, rgba(93, 2, 2, 0.00) 0%, rgba(93, 2, 2, 0.50) 100%);

            @media only screen and (max-width: 1022px) {
                right: -121px;
            }

        }

        @media only screen and (max-width: 1022px) {
            flex-direction: column;
            align-items: center;
        }

        @media only screen and (max-width: 670px) {
            padding: 80px 24px 0 24px;
            border-radius: 0;


        }

    }

    @media only screen and (max-width: 1244px) {
        padding: 0 24px;
    }

    @media only screen and (max-width: 670px) {
        padding: 0;



    }


}

.hero-cta {
    width: 100%;
    max-width: 540px;
    z-index: 2;



    &__title {
        color: #FFF;
        font-family: Jost;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: 48px;
        /* 100% */

        @media only screen and (max-width: 570px) {
            color: #FFF;
            text-align: center;
            font-family: Jost;
            font-size: 32px;
            font-style: normal;
            font-weight: 500;
            line-height: 36px;
            /* 112.5% */



        }
    }

    &__desc {
        color: #FFF;
        font-family: Jost;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        /* 162.5% */

        // width: 445px;
        max-width: 445px;

        margin-top: 11px;
        margin-bottom: 40px;

        @media only screen and (max-width: 1022px) {
            margin-top: 18px;
        }
    }

    @media only screen and (max-width: 1022px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 75px;

        text-align: center;
    }
}

.hero-cta-image {
    z-index: 2;
    width: 284px;

    margin-bottom: -8px;


    filter: drop-shadow(20px -40px 80px rgba(93, 2, 2, 0.747));

    img {
        width: 100%;
        height: 100%;
    }

    @media only screen and (max-width: 1022px) {
        margin-bottom: -130px;

    }
}

.home-services-section {
    width: 100%;
    z-index: 2;

    &__content-wrapper {
        height: 640px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 24px 30px;

        @media only screen and (max-width: 966px) {
            grid-template-columns: 1fr;
            grid-template-rows: auto;

            height: 100%;


        }
    }

    @media only screen and (max-width: 1244px) {
        padding: 0 24px;
    }
}

.service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-radius: 15px;

    position: relative;

    @media only screen and (max-width: 966px) {
        height: 200px;

    }

    @media only screen and (max-width: 670px) {
        height: 250px;

    }

    &*:hover~.bg-overlay {
        background: #e7826bb4;
    }



    .bg-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4969);
        border-radius: 15px;
        transition: all 0.3s ease-in-out;



    }

    & :not(:first-child) {
        z-index: 5;
    }

    &__title {

        color: #FFF;
        font-family: Jost;
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: 48px;
        /* 120% */
        letter-spacing: 2px;



        @media only screen and (max-width: 570px) {
            font-size: 28px;

        }
    }

    &__web-design {
        background: url("./home/desktop/image-web-design-large.jpg") no-repeat center center;
        background-size: cover;
        grid-row: 1 / 3;
        grid-column: 1 / 2;

        @media only screen and (max-width: 966px) {
            grid-row: 1 / 2;
            grid-column: 1 / 2;

        }
    }

    &__app-design {
        background: url("./home/desktop/image-app-design.jpg") no-repeat center center;
        background-size: cover;
        grid-row: 1 / 2;
        grid-column: 2 / 3;

        @media only screen and (max-width: 966px) {
            grid-row: 2 / 3;
            grid-column: 1 / 2;

        }

    }

    &__graphics-design {
        background: url("./home/desktop/image-graphic-design.jpg") no-repeat center center;
        background-size: cover;
        grid-row: 2 / 3;
        grid-column: 2 / 3;

        @media only screen and (max-width: 966px) {
            grid-row: 3 / 4;
            grid-column: 1 / 2;

        }
    }
}


.our-qualities {
    width: 100%;
    position: relative;

    .bg-shape {
        display: block;
        width: 1006px;
        height: 594px;
        flex-shrink: 0;
        border-radius: 297px 297px 297px 0px;
        opacity: 0.5023;
        background: #F1F3F5;


        position: absolute;
        top: 124px;
        right: 0;

    }

    &__content-wrapper {
        position: relative;

        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;

        @media only screen and (max-width: 966px) {
            flex-direction: column;

        }

        @media only screen and (max-width: 570px) {
            gap: 80px;


        }


    }

    @media only screen and (max-width: 1244px) {
        padding: 0 24px;
    }
}

.single-quality {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;

    @media only screen and (max-width: 966px) {
        flex-direction: row;

    }

    @media only screen and (max-width: 570px) {
        flex-direction: column;

    }

    &__img {
        width: 202px;
        height: 202px;
        flex-shrink: 0;
        position: relative;

        &::before {

            content: "";
            display: block;

            border-radius: 202px;
            opacity: 0.2027;
            background: linear-gradient(90deg, rgba(93, 2, 2, 0.00) 0%, rgba(93, 2, 2, 0.50) 100%);

            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    .quality__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;

        @media only screen and (max-width: 966px) {
            align-items: flex-start;

        }

        @media only screen and (max-width: 570px) {
            align-items: center;
            text-align: center;




        }
    }

    &__title {
        color: #333136;
        text-align: center;
        font-family: Jost;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px;
        /* 130% */
        letter-spacing: 5px;
    }

    &__desc {
        color: #333136;
        text-align: center;
        font-family: Jost;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        /* 162.5% */

        @media only screen and (max-width: 966px) {
            text-align: start;


        }

        @media only screen and (max-width: 570px) {
            text-align: center;




        }
    }


}
